.headerContainer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: end;
    width: 80%;
}

.headerSection {
    display: flex;
    gap: 2rem;
}

.logoSubtext {
    color: var(--primary-tint);
}