.typingAreaContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    justify-self: center;

}

.typingAreaTextBox {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    color: gray;
    line-height: 500%;
}

.typingAreaText {
    font-size: 2rem;
}


.input {
    text-decoration: none;
    z-index: 2;
    border: none;
    outline: none;
    caret-color: var(--primary-tint);
    color: black;
    background-color: white;
    font-size: 2rem;
    width: 100%;
    overflow: hidden;
    resize: none;
    border: 1px solid red;
    max-width: 700px;
    display: flex;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: grey;
}


.inputContainer {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.defaultWord {
    color: white;
}

.currentWord {
    color: yellow;
}

.correctWord {
    color: green;
}

.incorrectWord {
    color: red;
}

.invisibleWord {
    visibility: hidden;
}

